<html>
  <body>
 <h1> USER CREATION</h1> 
<form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)"><table>
  <input type="text" ngModel name="user" placeholder="FIRST NAME" />
  <br /><br />
  <input type="text" ngModel name="user" placeholder="lASTNAME" />
  <br /><br />
  <input type="text" ngModel name="age" placeholder="AGE" />
  <br /><br />
  <input type="text" ngModel name="adress" placeholder="ADRESS" />
  <br /><br />
  <input type="text" ngModel name="gender" placeholder="gender" />
  <br /><br />
  <input type="text" ngModel name="MobileNo" placeholder="MOBILE MobileNo" />
  <br /><br />
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button>submit</button></table>
</form>
</body>
</html>
